body {
    background: firebrick;
}

h1 {
    background: royalblue;
    color: darkorange;
    padding: 2rem;
    text-align: center;
}

ol > li {
    display: inline-block;
    vertical-align: middle;
}

.parent {
    text-align: center;
}

#current {
    text-align: center;
    font-size: 2rem;
}